<script>


        $(function () {

            var socket = io();

            var user = {{user}};
            var userTo = {{userTo}};

            socket.emit('connected', user, userTo);


        
        

            $('form').submit(function(e){

                e.preventDefault(); // prevents page reloading
                socket.emit('message', $('#m').val(), user, userTo);
                $('#m').val('');
                console.log("submioted messege")

                return false;

            });

            socket.on(`{{msgIdClaen}}`, function(data){
              console.log(data);
              document.getElementById("ourMessage").innerHTML = "";
            })

            socket.on(`{{msgId}}`, function(msg, msgId, user){

                
                $   .ajax({
                    url: "/user",
                    method: "GET"
                })
                .then(result => {
                    let userId = result.user;
                    
                    if(user != userId){
                      
                        let div = document.createElement("div");
                        div.setAttribute("class", "received-chats")
                        var html = `<div class="received-chats-img">
                                   
                                </div>
                                <div class="received-msg">
                                    <div class="received-msg-inbox">
                                        <p>` + msg + `</p>
                                        
                                    </div>
                                </div>`
                            div.innerHTML = html;
                            document.getElementById("ourMessage").append(div);

                    }
                    if(user == userId){
                         let div = document.createElement("div");
                        div.setAttribute("class", "outgoing-chats")
                        var html = `<div class="outgoing-chats-msg">
                                        <p>` + msg + `</p>
                                        
                                </div>
                                <div class="outgoing-chats-img">
                                    
                                </div>`
                            div.innerHTML = html;
                            document.getElementById("ourMessage").append(div);
                    }

                  

                })
                
                
            });

        });

        
    </script>