.chat{
    font-size: medium;
    background-color:whitesmoke;
    border: 1px black;
    padding: 20px;
    

}
.chatContainer{
    margin-top: 50px;
    list-style-type: none;
}

/* Navbar */
.navbar {
    position: relative;
    overflow: hidden;
    background-color: white !important;
  }
  
.navbar a {
    float: left;
    color: black !important;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
.navbar a:hover {
    background-color: rgb(174, 244, 253);
    color: black;
  }
  
.nav-link {
  float: right;
}